.pointer-events-none {
    pointer-events: none;
  }
  .absolute {
    position: absolute;
  }
  .relative {
    position: relative;
  }
  .inset-y-0 {
    top: 0px;
    bottom: 0px;
  }
  .end-0 {
    inset-inline-end: 0px;
  }
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .mb-2 {
    margin-bottom: 0.5rem;
  }
  .me-6 {
    margin-inline-end: 1.5rem;
  }
  .ms-3 {
    margin-inline-start: 0.75rem;
  }
  .ms-6 {
    margin-inline-start: 1.5rem;
  }
  .mt-0\.5 {
    margin-top: 0.125rem;
  }
  .mt-2 {
    margin-top: 0.5rem;
  }
  .mt-5 {
    margin-top: 1.25rem;
  }
  .mt-7 {
    margin-top: 1.75rem;
  }
  .block {
    display: block;
  }
  .flex {
    display: flex;
  }
  .inline-flex {
    display: inline-flex;
  }
  .grid {
    display: grid;
  }
  .hidden {
    display: none;
  }
  .size-5 {
    width: 1.25rem;
    height: 1.25rem;
  }
  .h-full {
    height: 100%;
  }
  .w-full {
    width: 100%;
  }
  .max-w-md {
    max-width: 28rem;
  }
  .flex-1 {
    flex: 1 1 0%;
  }
  .shrink-0 {
    flex-shrink: 0;
  }
  .items-center {
    align-items: center;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-between {
    justify-content: space-between;
  }
  .gap-x-1 {
    column-gap: 0.25rem;
  }
  .gap-x-2 {
    column-gap: 0.5rem;
  }
  .gap-y-4 {
    row-gap: 1rem;
  }
  .rounded {
    border-radius: 0.25rem;
  }
  .rounded-lg {
    border-radius: 0.5rem;
  }
  .rounded-xl {
    border-radius: 0.75rem;
  }
  .border {
    border-width: 1px;
  }
  .border-t {
    border-top-width: 1px;
  }
  .border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
  }
  .border-teal-500 {
    --tw-border-opacity: 1;
    border-color: rgb(20 184 166 / var(--tw-border-opacity));
  }
  .border-transparent {
    border-color: transparent;
  }
  .bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }
  .bg-neutral-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(38 38 38 / var(--tw-bg-opacity));
  }
  .bg-teal-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(13 148 136 / var(--tw-bg-opacity));
  }
  .bg-teal-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(15 118 110 / var(--tw-bg-opacity));
  }
  .bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
  .p-4 {
    padding: 1rem;
  }
  .p-6 {
    padding: 1.5rem;
  }
  .p-7 {
    padding: 1.75rem;
  }
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .pe-3 {
    padding-inline-end: 0.75rem;
  }
  .text-center {
    text-align: center;
  }
  .text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .font-bold {
    font-weight: 700;
  }
  .font-medium {
    font-weight: 500;
  }
  .uppercase {
    text-transform: uppercase;
  }
  .text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }
  .text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
  }
  .text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
  }
  .text-red-500 {
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity));
  }
  .text-red-600 {
    --tw-text-opacity: 1;
    color: rgb(220 38 38 / var(--tw-text-opacity));
  }
  .text-teal-600 {
    --tw-text-opacity: 1;
    color: rgb(13 148 136 / var(--tw-text-opacity));
  }
  .text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  .underline {
    text-decoration-line: underline;
  }
  .decoration-2 {
    text-decoration-thickness: 2px;
  }
  .opacity-50 {
    opacity: 0.5;
  }
  .shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  .ring-teal-500 {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(20 184 166 / var(--tw-ring-opacity));
  }
  .before\:me-6::before {
    content: var(--tw-content);
    margin-inline-end: 1.5rem;
  }
  .before\:flex-1::before {
    content: var(--tw-content);
    flex: 1 1 0%;
  }
  .before\:border-t::before {
    content: var(--tw-content);
    border-top-width: 1px;
  }
  .before\:border-gray-200::before {
    content: var(--tw-content);
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
  }
  .after\:ms-6::after {
    content: var(--tw-content);
    margin-inline-start: 1.5rem;
  }
  .after\:flex-1::after {
    content: var(--tw-content);
    flex: 1 1 0%;
  }
  .after\:border-t::after {
    content: var(--tw-content);
    border-top-width: 1px;
  }
  .after\:border-gray-200::after {
    content: var(--tw-content);
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
  }
  .hover\:bg-teal-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(15 118 110 / var(--tw-bg-opacity));
  }
  .hover\:underline:hover {
    text-decoration-line: underline;
  }
  .focus\:border-teal-500:focus {
    --tw-border-opacity: 1;
    border-color: rgb(20 184 166 / var(--tw-border-opacity));
  }
  .focus\:bg-teal-700:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(15 118 110 / var(--tw-bg-opacity));
  }
  .focus\:underline:focus {
    text-decoration-line: underline;
  }
  .focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  .focus\:ring-teal-500:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(20 184 166 / var(--tw-ring-opacity));
  }
  .disabled\:pointer-events-none:disabled {
    pointer-events: none;
  }
  .disabled\:opacity-50:disabled {
    opacity: 0.5;
  }
  @media (min-width: 640px) {
    .sm\:p-7 {
      padding: 1.75rem;
    }
  }
  @media (prefers-color-scheme: dark) {
    .dark\:bg-neutral-800 {
      --tw-bg-opacity: 1;
      background-color: rgb(38 38 38 / var(--tw-bg-opacity));
    }
  }
  