{% load component_tags %}

<!doctype html>
<html>
<head>
  <title>Dwhite Gudang {{ title }}</title>
  {% component "cssbase" %}{% endcomponent %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>

  {% component "favicon" %}{% endcomponent %}
  
  {% component_css_dependencies %}
</head>
<body class="bg-gray-50">

  {{ slot }}

  {% component "jsbase" %}{% endcomponent %}
  
  {% component_js_dependencies %}
</body>
</html>